h3{
    font-size: 25px !important;
}

.btn-success:hover{
background-color: red;
}

canvas{
    animation-name: changingColor;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes changingColor{
from {box-shadow: 5px 5px 30px red;}
to {box-shadow: 5px 5px 30px rgb(222, 241, 8);}
}